<% var page_title = page.title.replace('Homepage', 'Home'); %>
<% var site_name = site.config.name %>

<% if(page.data && page.data.seo_metatags && page.data.seo_metatags.og_title) { %>
    <meta property="og:title" content="<%- page.data.seo_metatags.og_title %>" />
<% } else if(page.data && page.data.seo_metatags && page.data.seo_metatags.title) { %>
    <meta property="og:title" content="<%- page.data.seo_metatags.title.replace('[page]', page_title).replace('[site]', site_name) %>" />
<% } else { %>
    <meta property="og:title" content="<%- page.title %>" />
<% } %>


<meta property="og:type" content="website">
<meta property="og:url" content="<%- site.config.url + page.url %>">
<meta property="og:site_name" content="<%- site.config.name %>">

<% if(page.data && page.data.seo_metatags && page.data.seo_metatags.og_description) { %>
    <meta property="og:description" content="<%- page.data.seo_metatags.og_description %>" />
<% } else if(page.data && page.data.seo_metatags && page.data.seo_metatags.description) { %>
    <meta property="og:description" content="<%- page.data.seo_metatags.description.replace('[page]', page_title).replace('[site]', site_name) %>" />
<% } else { %>
    <meta property="og:description" content="<%- site.settings.seo_default_description.replace('[page]', page_title).replace('[site]', site_name) %>" />
<% } %>

<% 
    // OG IMAGE
    var og_image = page.data && page.data.seo_metatags && page.data.seo_metatags.og_image ? page.data.opengraph_image : site.settings.opengraph_default_background;
%>
<meta property="og:image" content="<%- plugins.imgix(og_image, { q: 60, lossless: 1, fit: 'crop', w: 1200, h: 630, fm: 'pjpg' }); %>" />