// ======================================================
// Block Styles
// ============
.fieldtype_submit {
	$block: &;

	&--align_center {
		text-align: center;
		width: 100%;
	}

	input:disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}